@import"./common.scss";


.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    header{
        height: 5rem;
        width: 100%;
    }
}

main{
    flex: 1;
    overflow: hidden;
    .pros{
        width: 100%;

        .pro{
            display: flex;
            border-bottom: .1rem solid #2C2C2C;
            .img{
                pointer-events:none;
            }
            .img img{
                width: 8rem;
                pointer-events:none;
            }
            .sales{
                color: red;
            }
            .text{
                pointer-events:none;
                >div{
                    pointer-events:none;
                }
                h4{
                    pointer-events:none;
                }
            }
        }
    }
}